h1, h2, h3, h4, h5, p {
    padding-bottom: 0.75em;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

.error {
    color: red;
}

strong {
    font-weight: bold;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

sub {
    font-style: italic;
    font-size: x-small
}